// nextflow.config
def timestamp = new java.util.Date().format('yyyyMMdd_HHmmss')
// Global default parameters
params {
    max_cpus = 4
    max_memory = '2.GB'
    max_time = '2.h'
    cleanup = true
}

// Executor profiles
profiles {
    // Local execution profile
    standard {
        process.executor = 'local'
        process.cpus = 1
        process.memory = '2 GB'
    }


    // SLURM profile
    henle {
        process {
            executor = 'local'

        }
        singularity {
        enabled = true
        autoMounts = true
        runOptions = '-B /group/kidn3 --nv -B /group/kidn2 -B /group/kidn4 -B /group/kidn1' 
            }         

    }
        // SLURM profile
    meerkatv4 {
        process {
            executor = 'slurm'
            beforeScript = 'module load apptainer'  // Adjust for your environment
            
            // Default resource requirements
            cpus = 1
            memory = '4 GB'
            time = '1h'
            queue = "prod_short,prod_med"
            
            // Error handling
            errorStrategy = 'retry'
            maxRetries = 0
            
            // Process-specific resources
            
            withName: FIND_GLOMS{
                memory = '5 GB'
                time = '20m'
                queue = "prod_short,prod_med,prod_long"

            }
            withName: QC_GLOMS{
                memory = '5 GB'
                time = '20m'
                queue = "prod_short,prod_med,prod_long"

            }
            withName: GENERATE_CONDITION_POWERPOINTS{
                memory = '48 GB'
                time = '20m'
                queue = "prod_short,prod_med,prod_long"

            }
            
            

            
        }
        apptainer {
        enabled = true
        runOptions = '-B /group/kidn3 --nv -B /home/ -B /group/kidn2 -B /group/kidn1 -B /group/kidn4 -B /ibm/hpcfs1/tmp/' 

            }   
        
        // submission parameters
        submitRateLimit = '10 sec'
        queueSize = 200
    }
}

// Execution reports and logs
trace {
    enabled = true
    file = "pipeline_trace_${timestamp}.txt"
    fields = 'task_id,hash,name,status,exit,submit,start,complete,duration,realtime,%cpu,rss'
}

report {
    enabled = true
    file = "report_${timestamp}.html"
}

timeline {
    enabled = true
    file = "pipeline_timeline_${timestamp}.html"
}

dag {
    enabled = true
    file = "pipeline_dag_${timestamp}.html"
}




// Process-level default configurations
process {
    // General process configurations
    cache = 'lenient'
    
    // Error handling for all processes
    errorStrategy = 'retry'
    maxRetries = 0
    maxErrors = '-1'
    
    // Default resource requirements
    cpus = 1
    memory = '2 GB'
    time = '1h'
}

executor {
    $slurm {
        // Limit number of parallel SLURM jobs to 100.
        queueSize = 200
    }
    $pbs {
        // Limit number of parallel PBS jobs to 200.
        queueSize = 200
    }
}